// font
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

.container {
  padding: 0 88px;
}

nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 88px;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;

  li {
    padding: 10px;

    a {
      font-size: 16px;
      color: white!important;
      font-weight: 400!important;
    }
  }
}

a {
  font-size: 16px;
  color: white !important;
  font-weight: 400 !important;
}

nav {
  background-color: #010207;

  .login {
    display: flex;

    a {
      color: white;
      padding-left: 10px;
    }
  }
}

#main {
  position: relative;
  overflow: hidden;
  height: 639px;
  background-color: #010207;

  img {
    position: absolute;
    top: 0;
    z-index: 1;
    border-radius: 40px;
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  .container {
    position: relative;
    z-index: 2;
    height: 100%;
    display: flex;
    align-items: center;

    .content {
      h1 {
        color: white;
        font-size: 35px;
      }
    }
  }
}

footer {
  background-color: #010207;
  color: white;

  .container {
    padding-top: 65px;
    padding-bottom: 65px;

    h1 {
      margin: 0;
      color: white;
      font-size: 18px;
    }

    .content {
      display: flex;

      .footer-colums {
        margin-right: 90px;
        width: 25%;

        .subtitle {
          font-size: 14px;
          font-weight: normal;
        }

        .flex {
          margin-top: 20px;

          .items:nth-child(2) {
            margin-left: 30px;
          }

          .items {
            img {
              display: flex;
            }

            p {
              margin: 0;
              font-size: 12px;
            }
          }
        }
      }

      .center {
        .flex {
          display: flex;
          align-items: center;
        }
      }

      .right {
        ul {
          display: block;

          li {
            padding: 5px 0;

            a {
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}

.flex {
  display: flex;
}


#about-us {
  background-color: #010207;
  position: relative;
  height: 100%;

  .background {
    position: absolute;
    top: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .container {
    padding-top: 50px;
    padding-bottom: 100px;
    position: relative;

    .title {
      margin: 0;
      color: white;
    }

    .wrapper-content {
      margin-top: 50px;
      background: rgba(229, 229, 229, 0.16);
      max-width: 500px;
      position: absolute;
      padding: 20px;
      top: 0;
      border-radius: 10px;
      left: calc(100% - 65%);

      p {
        color: white;
        margin: 0;
      }
    }

    .grid {
      margin-top: 200px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      column-gap: 10px;

      .coloms {
        border: 1px solid #63109A;
        border-radius: 10px;
        color: white;
        background-color: #010207;
        display: flex;
        justify-content: space-between;

        .content {
          width: 60%;

          .content-wrapper {
            padding: 5px;

            h4 {
              margin: 0;
              font-size: 12px;
              padding-top: 10px;
            }

            p {
              margin: 0;
              font-size: 7px;
            }
          }

          p {
            font-size: 5px;
            padding: 5px;
          }

          .label {
            background-color: #63109A;
            padding: 5px;
          }

          .p-content {
            font-size: 5px;
            padding: 5px;
          }


        }

        .wrapper-poto {
          overflow: hidden;
          position: relative;
          padding: 5px;
          width: 50%;
          display: block;

          .poto {
            height: 118px;
            width: 100%;
          }

          .poto2 {
            position: absolute;
            right: 0;
            bottom: 0;
          }
        }
      }
    }
  }
}


#contact {
  background-color: #010207;
  position: relative;
  z-index: 1;
  padding: 150px 0;

  .background {
    position: absolute;
    top: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .container {
    position: relative;
    z-index: 2;

    .title {
      color: white!important;
      font-size: 15px;
      font-weight: 300;
      margin: 0;
      padding-bottom: 20px;
    }
  }
}

form {
  width: 40%;
  color: white;
  
  a{
    margin-top: 100px;
    padding: 10px 100px;
    background-color: #1C0165;
    border-radius: 5px;
  }
}

.group {
  display: flex;
  width: 100%;
  margin-bottom: 10px;

  .first {
    margin-right: 10px;

    input {
      width: 210px;
    }

    label {
      font-weight: 500;
      font-size: 12px;
    }

  }

  .last {

    input {
      width: 210px;
    }
  }
}

input {
  display: block;
  height: 38px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.4);
  border: 1px solid #000000;
  padding: 0 10px;
}

#contact .container .email {
  input {
    width: 450px;
  }
  p {
    font-size: 12px;
    font-weight: 300;
    margin: 0;
    margin-top: 5px;
  }
}

#contact .container .radio {
  margin: 20px 0;
  h3{
    margin: 0;
    font-size: 15px;
  }
  div{
    display: flex;
    align-items: center;
    label{
      font-size: 15px;
      font-weight: 300;
    }
  }
}

#contact .container .textarea {
  margin-top: 20px;
  textarea {
    width: 465px;
    display: block;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 5px;
  }
} 
#contact label {
  font-size: 15px;
  font-weight: 300;
}
#work {
  padding: 50px 0;
  padding-bottom: 150px;
  background: linear-gradient(180deg, rgba(99, 16, 154, 0.8) 29.17%, rgba(24, 35, 111, 0.8) 88.54%);

  .container {
    h1 {
      font-size: 30px;
    }

    .grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: auto;
      column-gap: 20px;
      row-gap: 60px;

      .items {
        border-radius: 20px;
        overflow: hidden;
        height: 100%;

        a {
          width: 100% !important;

          img {
            width: 100% !important;
            object-fit: cover;
            height: 100% !important;
          }
        }
      }
    }
  }
}

.grid{
  .wrapper{
    height: 100%;
    p{
      font-size: 16px;
      color: white!important;
      font-weight: 400;
    }
  }
}

.text-center {
  text-align: center;
}

.text-white {
  color: white;
}

#blog {
  position: relative;
  padding: 100px 0;
  background: linear-gradient(180deg, rgba(99, 16, 154, 0.8) 29.17%, rgba(24, 35, 111, 0.8) 88.54%);
  .container h1{
    font-size: 30px;
    margin: 0;
    margin-bottom: 30px;
  }
  .grid-blog{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    .items-blog{
      position: relative;
      border-radius:10px;
      background-color: #010207;
      padding: 10px;
      padding-bottom: 30px;
      img{
        width: 100%;
        height: 150px;
        border-radius: 5px;
      }
      h1 {
        color: white;
        font-size: 12px;
        font-weight: 400;
        margin: 0;
      }
      .icons{
        display: flex;
        margin: 5px 0;
        .left{
          margin-right: 20px;
        }
        .left , .right{
          display: flex;
          align-items: center;
          img {
            width: 12px;
            height: 12px;
            margin-right: 3px;
          }

          .tanggal {
            font-size: 8px;
            color: white;
            margin: 0;
          }
        }
        
      }
      .deskription {
        margin: 20px 0; 
        p{
          color: white;
          font-size: 8px;
          font-weight: 300!important;
        }
        a {
          font-size: 8px !important;
          font-weight: 300 !important;
          padding-bottom: 5px;
          border-bottom: 1px solid white;
          position: absolute;
          bottom: 0;
          margin-bottom: 20px;
        }
      }
    }
  }
}


.text-justify{
  text-align: justify;
}

.py-4{
  padding-top: 50px;
  padding-bottom: 50px;
}