@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap");
* {
  font-family: "Poppins", sans-serif;
}

.container {
  padding: 0 88px;
}

nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 88px;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}
ul li {
  padding: 10px;
}
ul li a {
  font-size: 16px;
  color: white !important;
  font-weight: 400 !important;
}

a {
  font-size: 16px;
  color: white !important;
  font-weight: 400 !important;
}

nav {
  background-color: #010207;
}
nav .login {
  display: flex;
}
nav .login a {
  color: white;
  padding-left: 10px;
}

#main {
  position: relative;
  overflow: hidden;
  height: 639px;
  background-color: #010207;
}
#main img {
  position: absolute;
  top: 0;
  z-index: 1;
  border-radius: 40px;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}
#main .container {
  position: relative;
  z-index: 2;
  height: 100%;
  display: flex;
  align-items: center;
}
#main .container .content h1 {
  color: white;
  font-size: 35px;
}

footer {
  background-color: #010207;
  color: white;
}
footer .container {
  padding-top: 65px;
  padding-bottom: 65px;
}
footer .container h1 {
  margin: 0;
  color: white;
  font-size: 18px;
}
footer .container .content {
  display: flex;
}
footer .container .content .footer-colums {
  margin-right: 90px;
  width: 25%;
}
footer .container .content .footer-colums .subtitle {
  font-size: 14px;
  font-weight: normal;
}
footer .container .content .footer-colums .flex {
  margin-top: 20px;
}
footer .container .content .footer-colums .flex .items:nth-child(2) {
  margin-left: 30px;
}
footer .container .content .footer-colums .flex .items img {
  display: flex;
}
footer .container .content .footer-colums .flex .items p {
  margin: 0;
  font-size: 12px;
}
footer .container .content .center .flex {
  display: flex;
  align-items: center;
}
footer .container .content .right ul {
  display: block;
}
footer .container .content .right ul li {
  padding: 5px 0;
}
footer .container .content .right ul li a {
  font-size: 12px;
}

.flex {
  display: flex;
}

#about-us {
  background-color: #010207;
  position: relative;
  height: 100%;
}
#about-us .background {
  position: absolute;
  top: 0;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
#about-us .container {
  padding-top: 50px;
  padding-bottom: 100px;
  position: relative;
}
#about-us .container .title {
  margin: 0;
  color: white;
}
#about-us .container .wrapper-content {
  margin-top: 50px;
  background: rgba(229, 229, 229, 0.16);
  max-width: 500px;
  position: absolute;
  padding: 20px;
  top: 0;
  border-radius: 10px;
  left: calc(100% - 65%);
}
#about-us .container .wrapper-content p {
  color: white;
  margin: 0;
}
#about-us .container .grid {
  margin-top: 200px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
#about-us .container .grid .coloms {
  border: 1px solid #63109A;
  border-radius: 10px;
  color: white;
  background-color: #010207;
  display: flex;
  justify-content: space-between;
}
#about-us .container .grid .coloms .content {
  width: 60%;
}
#about-us .container .grid .coloms .content .content-wrapper {
  padding: 5px;
}
#about-us .container .grid .coloms .content .content-wrapper h4 {
  margin: 0;
  font-size: 12px;
  padding-top: 10px;
}
#about-us .container .grid .coloms .content .content-wrapper p {
  margin: 0;
  font-size: 7px;
}
#about-us .container .grid .coloms .content p {
  font-size: 5px;
  padding: 5px;
}
#about-us .container .grid .coloms .content .label {
  background-color: #63109A;
  padding: 5px;
}
#about-us .container .grid .coloms .content .p-content {
  font-size: 5px;
  padding: 5px;
}
#about-us .container .grid .coloms .wrapper-poto {
  overflow: hidden;
  position: relative;
  padding: 5px;
  width: 50%;
  display: block;
}
#about-us .container .grid .coloms .wrapper-poto .poto {
  height: 118px;
  width: 100%;
}
#about-us .container .grid .coloms .wrapper-poto .poto2 {
  position: absolute;
  right: 0;
  bottom: 0;
}

#contact {
  background-color: #010207;
  position: relative;
  z-index: 1;
  padding: 150px 0;
}
#contact .background {
  position: absolute;
  top: 0;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: 1;
}
#contact .container {
  position: relative;
  z-index: 2;
}
#contact .container .title {
  color: white !important;
  font-size: 15px;
  font-weight: 300;
  margin: 0;
  padding-bottom: 20px;
}

form {
  width: 40%;
  color: white;
}
form a {
  margin-top: 100px;
  padding: 10px 100px;
  background-color: #1C0165;
  border-radius: 5px;
}

.group {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
}
.group .first {
  margin-right: 10px;
}
.group .first input {
  width: 210px;
}
.group .first label {
  font-weight: 500;
  font-size: 12px;
}
.group .last input {
  width: 210px;
}

input {
  display: block;
  height: 38px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.4);
  border: 1px solid #000000;
  padding: 0 10px;
}

#contact .container .email input {
  width: 450px;
}
#contact .container .email p {
  font-size: 12px;
  font-weight: 300;
  margin: 0;
  margin-top: 5px;
}

#contact .container .radio {
  margin: 20px 0;
}
#contact .container .radio h3 {
  margin: 0;
  font-size: 15px;
}
#contact .container .radio div {
  display: flex;
  align-items: center;
}
#contact .container .radio div label {
  font-size: 15px;
  font-weight: 300;
}

#contact .container .textarea {
  margin-top: 20px;
}
#contact .container .textarea textarea {
  width: 465px;
  display: block;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 5px;
}

#contact label {
  font-size: 15px;
  font-weight: 300;
}

#work {
  padding: 50px 0;
  padding-bottom: 150px;
  background: linear-gradient(180deg, rgba(99, 16, 154, 0.8) 29.17%, rgba(24, 35, 111, 0.8) 88.54%);
}
#work .container h1 {
  font-size: 30px;
}
#work .container .grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 60px;
}
#work .container .grid .items {
  border-radius: 20px;
  overflow: hidden;
  height: 100%;
}
#work .container .grid .items a {
  width: 100% !important;
}
#work .container .grid .items a img {
  width: 100% !important;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100% !important;
}

.grid .wrapper {
  height: 100%;
}
.grid .wrapper p {
  font-size: 16px;
  color: white !important;
  font-weight: 400;
}

.text-center {
  text-align: center;
}

.text-white {
  color: white;
}

#blog {
  position: relative;
  padding: 100px 0;
  background: linear-gradient(180deg, rgba(99, 16, 154, 0.8) 29.17%, rgba(24, 35, 111, 0.8) 88.54%);
}
#blog .container h1 {
  font-size: 30px;
  margin: 0;
  margin-bottom: 30px;
}
#blog .grid-blog {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
#blog .grid-blog .items-blog {
  position: relative;
  border-radius: 10px;
  background-color: #010207;
  padding: 10px;
  padding-bottom: 30px;
}
#blog .grid-blog .items-blog img {
  width: 100%;
  height: 150px;
  border-radius: 5px;
}
#blog .grid-blog .items-blog h1 {
  color: white;
  font-size: 12px;
  font-weight: 400;
  margin: 0;
}
#blog .grid-blog .items-blog .icons {
  display: flex;
  margin: 5px 0;
}
#blog .grid-blog .items-blog .icons .left {
  margin-right: 20px;
}
#blog .grid-blog .items-blog .icons .left, #blog .grid-blog .items-blog .icons .right {
  display: flex;
  align-items: center;
}
#blog .grid-blog .items-blog .icons .left img, #blog .grid-blog .items-blog .icons .right img {
  width: 12px;
  height: 12px;
  margin-right: 3px;
}
#blog .grid-blog .items-blog .icons .left .tanggal, #blog .grid-blog .items-blog .icons .right .tanggal {
  font-size: 8px;
  color: white;
  margin: 0;
}
#blog .grid-blog .items-blog .deskription {
  margin: 20px 0;
}
#blog .grid-blog .items-blog .deskription p {
  color: white;
  font-size: 8px;
  font-weight: 300 !important;
}
#blog .grid-blog .items-blog .deskription a {
  font-size: 8px !important;
  font-weight: 300 !important;
  padding-bottom: 5px;
  border-bottom: 1px solid white;
  position: absolute;
  bottom: 0;
  margin-bottom: 20px;
}

.text-justify {
  text-align: justify;
}

.py-4 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.button {
  padding: 20px;
  background-color: white;
}/*# sourceMappingURL=style.css.map */